.ListingCard {
    font-family: 'Montserrat', sans-serif;
    text-align: left;
}

.ListingCard_Type {
    color: #FF72B6;
    font-weight: 600;
    font-size: .8em;
    margin-top: 18px;
}

.ListingCard_Price {
    color: #1A2258;
    font-weight: 600;
    font-size: 1.2em;
    margin-top: 8px;
    margin-bottom: 3px;
    letter-spacing: 0.08em;
}

.ListingCard_Details {
    color: #1A2258;
    font-weight: 400;
    font-size: 0.9em;
    margin-top: 5px;
}